<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="social art gallery">
    <meta name="author" content="Barak yaffe">
    <title>Round Table</title>
    <!-- jQuery and Bootstrap JS -->
    <script src="../media/js/jquery-1.11.3.min.js"></script>
    <script src="../media/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="../media/js/datePicker.js"></script>
    <script src="../media/js/footable.js"></script>
    <!--Generic css-->
    <link href="../media/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../media/css/footable.bootstrap.css" rel="stylesheet"/>
    <!--My css-->
    <link href="../media/css/mystyle.css" type="text/css" rel="stylesheet"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="sr-only">Show and Hide the Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="../media/images/NewLogo1.png" class="logo"/>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <form class="navbar-form navbar-left" role="form">
                    <div class="input-group">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-search"></span>
                    </span>
                        <input type="search" id="pID" name="pID" class="form-control input-sm"
                               placeholder="Insert ID number" data-toggle="tooltip" data-placement="bottom"
                               title="This field is for Pixel ID search."/>
                    </div>
                    <div class="input-group date">
                        <label for="from" hidden></label>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        <input type="text" name="from" id="from" class="form-control input-sm"
                               placeholder="Start date"/>
                    </div>
                    <div class="input-group date">
                        <label for="to" hidden></label>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        <input type="text" id="to" name="to" class="form-control input-sm" placeholder="End date"/>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <!--build the Table structure-->
    <div class="container table-responsive">
        <table class="footable table table-striped footable-toggle-circle-arrow footable-paging footable-paging-center breakpoint-xs  ">
            <thead>
            <tr>
                <th>Pixel ID</th>
                <th>Time Stamp</th>
                <th data-breakpoints="xs">Checker</th>
                <th data-breakpoints="xs">Platform</th>
                <th data-breakpoints="xs">Referral</th>
                <th data-breakpoints="xs">Response Code</th>
                <th data-breakpoints="xs">Response</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>3409476</td>
                <td>03/08/15 07:28:00</td>
                <td>54745ed23e879</td>
                <td>adk2</td>
                <td>http://ads.adsrvmedia.com/event/conversion/0/iw4-U...</td>
                <td>200</td>
                <td>Helvetica</td>
            </tr>
            <tr>
                <td>3409476</td>
                <td>03/08/15 07:28:00</td>
                <td>54745ed23e879</td>
                <td>adk2</td>
                <td>http://ads.adsrvmedia.com/event/conversion/0/iw4-U...</td>
                <td>200</td>
                <td>Helvetica</td>
            </tr>
            <tr>
                <td>3409476</td>
                <td>03/08/15 07:28:00</td>
                <td>54745ed23e879</td>
                <td>adk2</td>
                <td>http://ads.adsrvmedia.com/event/conversion/0/iw4-U...</td>
                <td>200</td>
                <td>Helvetica</td>
            </tr>
            <tr>
                <td>3409476</td>
                <td>03/08/15 07:28:00</td>
                <td>54745ed23e879</td>
                <td>adk2</td>
                <td>http://ads.adsrvmedia.com/event/conversion/0/iw4-U...</td>
                <td>200</td>
                <td>Helvetica</td>
            </tr>
            <tr>
                <td>3409476</td>
                <td>03/08/15 07:28:00</td>
                <td>54745ed23e879</td>
                <td>adk2</td>
                <td>http://ads.adsrvmedia.com/event/conversion/0/iw4-U...</td>
                <td>200</td>
                <td>Helvetica</td>
            </tr>
            <tr>
                <td>3409476</td>
                <td>03/08/15 07:28:00</td>
                <td>54745ed23e879</td>
                <td>adk2</td>
                <td>http://ads.adsrvmedia.com/event/conversion/0/iw4-U...</td>
                <td>200</td>
                <td>Helvetica</td>
            </tr>
            <tr>
                <td>3409476</td>
                <td>03/08/15 07:28:00</td>
                <td>54745ed23e879</td>
                <td>adk2</td>
                <td>http://ads.adsrvmedia.com/event/conversion/0/iw4-U...</td>
                <td>200</td>
                <td>Helvetica</td>
            </tr>
            </tbody>
        </table>
        <!--Build the Paging-->
        <nav>
            <ul class="pager">
                <li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
            </ul>
        </nav>
    </div>
    <form class="form-inline" action="#">
        <div class="form-group">
            <div class="input-group">
                <input type="submit" class="btn btn-primary" value="Results per page"/>
            </div>
            <label class="sr-only" for="quantity">Results Quantity</label>

            <div class="input-group">
                <input type="number" name="quantity" id="quantity"
                       min="0" max="50" step="10" value="10" class="form-control">
            </div>
        </div>
    </form>
    <footer>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; B.Yaffe 2015</p>
            </div>
        </div>
    </footer>
</div>
<script>
    jQuery(function ($) {
        $('.table').footable();
    });
    $(document).ready(function() {
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
</body>
</html>